input {
  background: rgba(228, 228, 228, 0.7);
  border-radius: 5px;
  padding: 15px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

.input__error {
  background: rgba(219, 57, 57, 0.3);
}

.input__helper_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #e36464;
  padding-left: 10px;
}
